body {
  font-family: "Roboto", sans-serif;
}
h1 {
  color: #272142;
  font-size: 38px;
  font-weight: 800;
}

ul {
  list-style: none;
  padding: 0px;
}
p {
  text-align: right;
  margin-right: 135px;
}

.form-control {
  width: 450px;
}

.btn {
  width: 120px;
}
.weather-details {
  margin-bottom: 40px;
}
.wrapper {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(239, 246, 249) 0%,
    rgb(206, 239, 253) 90%
  );
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  margin-top: 20px;
  padding: 40px;
  width: 700px;
}
.temperature {
  color: #272142;
  font-size: 80px;
  font-weight: 400;
  font-weight: 700;
  line-height: 1;
  margin-left: 10px;
  font-family: "Roboto", sans-serif;
}
.units {
  position: relative;
  top: 10px;
}
.temperature-update {
  justify-content: flex-end;
}
